
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --lightDark:#525252;
}

p{
    line-height: 1.3;
    color:var(--lightDark);
}

.container{
    max-width: 1400px;
   
}

.inside-container{
    max-width: 1280px;
    margin:0 auto;
    padding:0 10px;
    /* border: 1px solid red; */
    
}

/* title */

.title{
    width: 100%;
    text-align: center;
    padding:5px;
    background:rgb(241, 240, 240);
    
    color:#757575;
    font-size: 16px;
  
  
    
   }
   
   .underline{
       
       text-align: center;
       margin:5px auto;
       width:0;
       border:1px solid transparent;
       transition: all 0.5s ease-in-out;
   }

   .erga-egatastaseon:hover .underline{
    /* width:200px; */
     
     border:1px solid green;
   }

/* title */

